.popup__input-error {
  /*display: none;*/
  /*opacity: 0;*/
  /*margin-top: calc(100% + 6px);
    transition: 0.3s; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin: 0 0 0 0;
  box-sizing: border-box;
  min-height: 30px;
}
