.popup__container-zoom {
  position: relative;
  /*   display: inline-block;
    */
  max-height: 75vh;
  max-width: 75vw;
}

@media screen and (max-width: 940px) {
  .popup__container-zoom {
    max-height: 75vh;
    max-width: 75vw;
  }
}

@media screen and (max-width: 620px) {
  .popup__container-zoom {
    max-height: 75vh;
    max-width: 75vw;
  }
}
