.profile__info-edit {
  width: 24px;
  height: 24px;
  border: none;
  box-sizing: border-box;
  padding: 0;
  background: #000000;
  background-image: url(../../../images/edit-button-big.svg);
  cursor: pointer;
}

.profile__info-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 618px) {
  .profile__info-edit {
    width: 18px;
    height: 18px;
    background-image: url(../../../images/edit-button-small.svg);
  }
}
