.profile__card-add {
  width: 150px;
  height: 50px;
  border: none;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  background: #045588;
  background-image: url(../../../images/add-button-small.svg);
  cursor: pointer;
}

.profile__card-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 940px) {
  .profile__card-add {
    width: 282px;
    background-image: url(../../../images/add-button-big.svg);
  }
}