.popup__input {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: 358px;
  margin: 0 0 0 0;
  padding-top: 1px;
  padding-bottom: 9px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #d8d5d5;
  border-left: none;
}

@media screen and (max-width: 620px) {
  .popup__input {
    width: 234px;
  }
}
